.result--form {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 100px;
  width: 90%;
  left: 5vw;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  overflow: auto;
  padding-bottom: 400px;
}
.result--heading {
  position: relative;
  top: 117px;
  left: 100px;
  background-color: #fcde67;
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;
  font-size: 18px;
}

.result--sprint--detail {
  position: relative;
  width: 700px;
  display: flex;
  justify-content: space-evenly;

  top: 100px;
  left: 100px;
  padding: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.result--question {
  padding: 10px;
  font-size: large;
  background-color: #fcde67;
  display: flex;
  justify-content: center;
  width: 200px;
  margin-bottom: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.result--answer {
  padding: 10px;
  font-size: large;
  background-color: #dfdfdf;
  display: flex;
  justify-content: center;
  width: 350px;
  margin-bottom: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.result--graph--area {
  position: relative;
  top: 200px;
  left: 5vw;
  z-index: 10;
  width: 90%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: all 0.3s ease-out;
}
.result--winner-box{
  position: relative;
  top: 300px;
  width: 30%;
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.result--winner--name {
  

  display: flex;
  margin-bottom: 20px;
  height: 40px;
}
.result--winner-text {
  background-color: #fcde67;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.result-subheader {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
  align-items: center;
}

.subheader--button {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.subheader--button:hover,
.subheader--button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.subheader--button:hover {
  transform: translateY(-1px);
}

.subheader--button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.result--winner--name--text {
  background-color: #bdb8a5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
table {
  position: relative;
  top: 350px;
  left: 10vw;
  border: 2px solid gray;
  width: 70vw;
  height: 200px;
  table-layout: fixed;
}

th {
  border-bottom: 1px solid black;
  word-wrap: break-word;
}

td {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  word-wrap: break-word;
}

.result--vote--details--title {
  position: relative;
  top: 350px;
  left: 300px;
  background-color: black;
  color: white;

  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;
  font-size: 18px;
}

.result--sprint--detail--title {
  position: relative;
  background-color: black;
  top: 100px;
  left: 100px;
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;
  font-size: 18px;
  color: white;
}

.divide--line {
  border: 1px solid black;
}
.blank_row {
  position: relative;
  display: block;
  flex-direction: column;
  bottom: 43px;
  height: 2px !important; /* overwrites any other rules */
  background: #f0cc00;
  width: 69vw !important;
}
.special_mention {
  position: relative;
  bottom: 20px;
  width: 69vw !important;
}
.accordian_row {
  box-shadow: 0 0 4px 2px #4295c5 !important;
  box-shadow: rgba(70, 150, 211, 0.3) 2px 1px 2px 2px,
    rgba(92, 165, 50, 0.15) 2px 2px 6px px !important;
  width: 69vw;
}

.game--dashboard {
  position: relative;
  bottom: 430px;
  left: 72%;
  border: 1px solid #dedede;

  box-shadow: 0 0 4px 4px #dedede;
  width: 300px;
  display: flex;
  flex-direction: column;

  align-items: center;
  min-height: 500px;
}
.game--dashboard--headings {
  box-shadow: 0 0 4px 4px #c8da76;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
}

.game--dashboard-entries {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
}
#rssBlock {
  left: 0px;
  height: 80px;
  background: #ffffff;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.cnnContents {
  width: 100%;
  padding-top: 20px;
  margin: 0 auto;
  font-size: 30px;
  white-space: nowrap;
  text-transform: uppercase;
  font-family: "Museo";
  font-weight: 300;
}

.marqueeStyle {
  display: inline-block;
  /* Apply animation to this element */
  -webkit-animation: scrolling-left1 20s linear infinite;
  animation: scrolling-left1 20s linear infinite;
}

.marqueeStyle2 {
  display: inline-block;
  /* Apply animation to this element */
  -webkit-animation: scrolling-left2 20s linear infinite;
  animation: scrolling-left2 20s linear infinite;
  animation-delay: 10s;
}
/* scrolling-left is continuous/repeatly text */
@keyframes scrolling-left1 {
  0% {
    transform: translateX(200%);
    -webkit-transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
    -webkit-transform: translateX(-100%);
  }
}
@keyframes scrolling-left2 {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
  }
}

@-webkit-keyframes scrolling-left1 {
  0% {
    -webkit-transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@-webkit-keyframes scrolling-left2 {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-200%);
  }
}
