.vote--form {
  position: relative;
  top: 100px;
  width: 45%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  height: 700px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  opacity: 0;
  animation: pop-in 0.5s ease forwards;
  padding-bottom: 50px;
}

.vote--innerform {
  position: relative;

  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 20px;

  padding-bottom: 80px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 10px 10px 10px 10px;
  padding-top: 10px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  animation: slide-in-left 1s ease;
  border: 2px solid black;
}

.vote--question {
  background-color: #d8d6ce;
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.vote--answer {
  background-color: #fcde67;
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.vote--question--column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vote--field {
  display: flex;
  flex-direction: row;
}
.vote--select {
  width: 200px !important;
  background-color: #d8d6ce;
  height: 40px;
}
.vote--button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: rgb(96, 78, 102);
  color: white;
  position: relative;
  top: 30px;
  font-size: 18px;
}

.vote--button:hover {
  background-color: #1e89a3;
}
.vote--button:disabled {
  background-color: gray; /* Change the color to your desired disabled color */
  cursor: not-allowed; /* Show the 'not-allowed' cursor when disabled */
}

@keyframes slide-in-left {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0);
  }
}
